#beach {
  display: none;
}

.btn {
  display: block;
}

#quote {
  display: none;
}

#trip {
  display: none;
}

/*body {
  display: none;
}*/

#hit {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

/*#score {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}*/
